@use "../variables";

.like {
    display: none;
    background: linear-gradient(
        0deg,
        variables.$primary-color,
        variables.$secondary-color
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.favourite {
    cursor: pointer;
}

input.favouriteToggle {
    display: none;
}
input.favouriteToggle:checked ~ .like {
    display: inline-block;
}

input.favouriteToggle:checked ~ .unlike {
    display: none;
}
