@use "../variables";

.like {
    display: none;
    background: linear-gradient(
        0deg,
        variables.$primary-color,
        variables.$secondary-color
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.favourite {
    z-index: 9990;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        padding-left: 4px;
        padding-right: 4px;
    }
}

input.favouriteToggle {
    display: none;
}
input.favouriteToggle:checked ~ .like {
    display: inline-block;
}

input.favouriteToggle:checked ~ .unlike {
    display: none;
}
