@use "../variables";

.sectionFunctioning {
    margin: 4rem 10px;
    h2 {
        margin: 0 10px;
        margin-bottom: 2rem;
    }

    div {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .card {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            position: relative;

            p {
                margin: 0;
                margin-left: 15px;
                display: flex;
                gap: 1rem;
                align-items: center;
                font-weight: 700;
            }

            .functionNumber {
                background-color: variables.$primary-color;
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 9999px;
                position: absolute;
                left: -20px;
                top: 50%;
                transform: translateY(-50%);
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
                span {
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
}
