$primary-color: #9356dc;
$secondary-color: #ff79da;
$success-color: #99e2d0;
$background-color: #f3f3f3;

$text-color: #000000;
$text-sucess: #008766;
$text-white: #ffffff;

$location-search-background-color: #eaeaea;
$location-search-color: #626262;

$footer-background-color: #353535;
$footer-text-color: #ffffff;
