@use "variables";

@use "layout/navbar";
@use "layout/footer";

@use "components/button";
@use "components/badge";
@use "components/like";
@use "components/card";

* {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: variables.$text-color;
}
